<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vians.admin.mapper.CommunityMapper">

    <sql id="Base_Column_List">
        c_id AS id,
        c_name AS communityName,
        c_community_nature_id AS natureId,
        c_project_id AS projectId,
        c_create_user_id AS createUserId,
        c_create_time AS createTime
    </sql>

    <select id="getCommunityList" resultType="com.vians.admin.model.CommunityInfo">
        SELECT
            c.c_id AS id,
            c.c_name AS communityName,
            cn.cn_name AS natureName,
            cn.cn_id AS natureId,
            u.u_name AS createUserName,
            c.c_create_time AS createTime,
            p.p_name AS projectName,
            p.p_id AS projectId,
            (SELECT COUNT(b.b_id) FROM vi_building b WHERE b.b_community_id = c.c_id GROUP BY c.c_id DESC LIMIT 1) AS buildingCount
        FROM
            ((
                vi_community c
                    LEFT JOIN vi_community_nature cn ON c.c_community_nature_id = cn.cn_id
                )
                LEFT JOIN vi_user u ON c.c_create_user_id = u.u_id
                )
                LEFT JOIN vi_project p ON c.c_project_id = p.p_id
        WHERE
            1 = 1
            <if test="communityName != null and communityName != ''">
                AND c.c_name like CONCAT('%',#{communityName},'%')
            </if>
            <if test="projectId != 0">
                AND c.c_project_id = #{projectId}
            </if>
    </select>

    <select id="getCommunityByNameInProject" resultType="com.vians.admin.model.CommunityInfo">
        select
        <include refid="Base_Column_List" />
        from vi_community
        where c_name = #{communityName} and c_project_id = #{projectId}
        limit 1
    </select>

    <select id="getCommunityById" resultType="com.vians.admin.model.CommunityInfo">
        select
        <include refid="Base_Column_List" />
        from vi_community
        where c_id = #{id}
        limit 1
    </select>

    <select id="getCommunitiesByProjectId" resultType="com.vians.admin.model.CommunityInfo">
        select
        <include refid="Base_Column_List" />
        from vi_community
        where
        1 = 1
        <if test="id != 0">
            and c_project_id = #{id}
        </if>
    </select>

    <select id="getDataDir" resultType="com.vians.admin.model.DataDir">
        select
            c_id as id,
            c_name as name
        from vi_community
        where
        1 = 1
        <if test="id != 0">
            and c_project_id = #{id}
        </if>
    </select>

    <insert id="addCommunity"
            useGeneratedKeys="true"
            keyProperty="id"
            keyColumn="c_id"
            parameterType="com.vians.admin.model.CommunityInfo">
        insert into vi_community(c_name, c_community_nature_id, c_create_user_id, c_create_time, c_project_id)
        values (#{communityName}, #{natureId}, #{createUserId}, #{createTime}, #{projectId})
    </insert>

    <delete id="deleteCommunity" parameterType="long">
        delete from vi_community where c_id = #{id}
    </delete>

    <delete id="deleteCommunitiesByProjectId" parameterType="long">
        delete from vi_community where c_project_id = #{projectId}
    </delete>

    <update id="editCommunity" parameterType="com.vians.admin.model.CommunityInfo">
        update vi_community
        <set>
            <if test="communityName != null and communityName != ''">
                c_name = #{communityName},
            </if>
            <if test="projectId != 0">
                c_project_id = #{projectId},
            </if>
            <if test="natureId != 0">
                c_community_nature_id = #{natureId},
            </if>
            <if test="updateTime != null">
                c_update_time = #{updateTime},
            </if>
        </set>
        <where>
            c_id = #{id}
        </where>
    </update>
</mapper>
