<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vians.admin.mapper.DeviceMapper">

    <sql id="Base_Column_List">
        d_id AS id,
        d_uuid AS uuid,
        d_mac AS macNum,
        d_sn AS snNum,
        d_model AS model,
        d_hw_version AS hwVersion,
        d_fw_version AS fwVersion,
        d_manufacturer AS manufacturer,
        d_tool_id AS tooId,
        d_create_time AS createTime,
        d_user_id AS userId,
        d_token AS token
    </sql>

    <select id="getDeviceByMac" resultType="com.vians.admin.model.DeviceInfo">
        select
        <include refid="Base_Column_List" />
        from xy_dc_deviceinfo
        <where>
            d_mac = #{mac}
        </where>
        LIMIT 1
    </select>
</mapper>
