<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.suql.devicecollect.mapper.ManufMapper">

    <sql id="Base_Column_List">
        m_id AS id,
        m_name AS name,
        m_address AS address,
        m_password AS password,
        m_create_time AS createTime,
        m_create_user_id AS createUserId,
        m_state AS state
    </sql>

    <insert id="saveManufInfo" parameterType="com.suql.devicecollect.model.ManufInfo">
        insert xy_dc_manufature
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != 0">
                m_id,
            </if>
            <if test="name != null">
                m_name,
            </if>
            <if test="address != null">
                m_address,
            </if>
            <if test="password != null">
                m_password,
            </if>
            <if test="createTime != 0">
                m_create_time,
            </if>
            <if test="createUserId != 0">
                m_create_user_id,
            </if>
            <if test="state != 0">
                m_state
            </if>
        </trim>
        <trim prefix="value (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="name != null">
                #{name},
            </if>
            <if test="address != null">
                #{address},
            </if>
            <if test="password != null">
                #{password},
            </if>
            <if test="createTime != 0">
                #{createTime},
            </if>
            <if test="createUserId != 0">
                #{createUserId},
            </if>
            <if test="state != 0">
                #{state}
            </if>
        </trim>
    </insert>

    <select id="getMaxId" resultType="string">
        select
        MAX(m_id)
        from
        xy_dc_manufature
    </select>

    <select id="getManufList" resultType="com.suql.devicecollect.model.ManufInfo">
        select
        <include refid="Base_Column_List" />
        from xy_dc_manufature
        where m_state = 1
    </select>

    <select id="findById" parameterType="long" resultType="com.suql.devicecollect.model.ManufInfo">
        select
        <include refid="Base_Column_List" />
        from xy_dc_manufature
        <where>
            m_id = #{id}
        </where>
    </select>

    <update id="edit" parameterType="com.suql.devicecollect.model.ManufInfo">
        update xy_dc_manufature
        <set>
            <if test="name != null">
                m_name = #{name},
            </if>
            <if test="address != null">
                m_address = #{address}
            </if>
        </set>
        <where>
            m_id = #{id}
        </where>
    </update>

    <update id="modifyPwd" parameterType="com.suql.devicecollect.model.ManufInfo">
        update xy_dc_manufature
        <set>
            <if test="password != null">
                m_password = #{password}
            </if>
        </set>
        <where>
            m_id = #{id}
        </where>
    </update>

    <delete id="deleteById" parameterType="long">
        delete from xy_dc_manufature
        <where>
            m_id = #{id}
        </where>
    </delete>

</mapper>