<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vians.admin.mapper.RoomMapper">

    <sql id="Base_Column_List">
        r_id AS id,
        r_name AS roomName,
        r_room_nature_id AS natureId,
        r_room_model_id AS roomModelId,
        r_floor_id AS floorId,
        r_area AS area,
        r_state AS state,
        r_create_user_id AS createUserId,
        r_create_time AS createTime
    </sql>

    <select id="getRoomList" resultType="com.vians.admin.model.RoomInfo">
        SELECT
            CONCAT(p.p_name, c.c_name, b.b_name, unit.u_name, f.f_name, r.r_name) AS roomFullName,
            r.r_id AS id,
            r.r_name AS roomName,
            rn.rn_name AS natureName,
            rn.rn_id AS natureId,
            rm.rm_name AS roomModelName,
            rm.rm_id AS roomModelId,
            r.r_area AS area,
            r.r_state AS state,
            f.f_name AS floorName,
            f.f_id AS floorId,
            ( SELECT COUNT( d.d_id ) FROM vi_device d WHERE d.d_room_id = r.r_id ORDER BY r.r_id DESC LIMIT 1 ) AS deviceCount,
            ( SELECT COUNT( ru.ru_id ) FROM vi_room_user ru WHERE ru.ru_room_id = r.r_id ORDER BY r.r_id DESC LIMIT 1 ) AS userCount,
            r.r_create_time AS createTime,
            u.u_name AS createUserName,
            d.d_name AS defaultDevice
        FROM
            vi_room r
                LEFT JOIN vi_room_nature rn ON r.r_room_nature_id = rn.rn_id
                LEFT JOIN vi_room_model rm ON r.r_room_model_id = rm.rm_id
                LEFT JOIN vi_user u ON r.r_create_user_id = u.u_id
                LEFT JOIN vi_floor f ON r.r_floor_id = f.f_id
                LEFT JOIN vi_unit unit ON f.f_unit_id = unit.u_id
                LEFT JOIN vi_building b ON unit.u_building_id = b.b_id
                LEFT JOIN vi_community c ON b.b_community_id = c.c_id
                LEFT JOIN vi_project p ON c.c_project_id = p.p_id
                LEFT JOIN (SELECT * FROM vi_device WHERE d_is_default = 1) d ON d.d_room_id = r.r_id
        WHERE
            1 = 1
            <if test="roomName != null and roomName != ''">
                AND r.r_name like CONCAT('%',#{roomName},'%')
            </if>
            <if test="floorId != 0">
                AND r.r_floor_id = #{floorId}
            </if>
            <if test="projectId != 0">
                AND c.c_project_id = #{projectId}
            </if>
    </select>

    <select id="getRoomListByUserId" parameterType="long" resultType="com.vians.admin.model.RoomInfo">
        SELECT
            r.r_id AS id,
            r.r_name AS roomName,
            f.f_name AS floorName,
            unit.u_name AS unitName,
            b.b_name AS buildingName,
            c.c_name AS communityName,
            p.p_name AS projectName,
            (SELECT
                 count( ar.ar_id )
             FROM
                 vi_authorize_room ar
                     LEFT JOIN vi_authorize a ON a.a_id = ar.ar_authorize_id
             WHERE
                 ar.ar_room_id = r.r_id
               AND a.a_user_id = #{id}
               AND a.a_type = 1
             GROUP BY
                 ar.ar_room_id) AS passwordCount,
            (SELECT
                 count( ar.ar_id )
             FROM
                 vi_authorize_room ar
                     LEFT JOIN vi_authorize a ON a.a_id = ar.ar_authorize_id
             WHERE
                 ar.ar_room_id = r.r_id
               AND a.a_user_id = #{id}
               AND a.a_type = 3
             GROUP BY
                 ar.ar_room_id) AS fpCount,
            (SELECT
                 count( ar.ar_id )
             FROM
                 vi_authorize_room ar
                     LEFT JOIN vi_authorize a ON a.a_id = ar.ar_authorize_id
             WHERE
                 ar.ar_room_id = r.r_id
               AND a.a_user_id = #{id}
               AND a.a_type = 2
             GROUP BY
                 ar.ar_room_id) AS cardCount,
            (SELECT
                 count( ar.ar_id )
             FROM
                 vi_authorize_room ar
                     LEFT JOIN vi_authorize a ON a.a_id = ar.ar_authorize_id
             WHERE
                 ar.ar_room_id = r.r_id
               AND a.a_user_id = #{id}
               AND a.a_type = 4
             GROUP BY
                 ar.ar_room_id) AS faceCount,
            (SELECT
                 count( ar.ar_id )
             FROM
                 vi_authorize_room ar
                     LEFT JOIN vi_authorize a ON a.a_id = ar.ar_authorize_id
             WHERE
                 ar.ar_room_id = r.r_id
               AND a.a_user_id = #{id}
               AND a.a_type = 5
             GROUP BY
                 ar.ar_room_id) AS bluetoothCount
        FROM
            vi_room r
            LEFT JOIN vi_floor f ON r.r_floor_id = f.f_id
            LEFT JOIN vi_unit unit ON f.f_unit_id = unit.u_id
            LEFT JOIN vi_building b ON unit.u_building_id = b.b_id
            LEFT JOIN vi_community c ON b.b_community_id = c.c_id
            LEFT JOIN vi_project p ON c.c_project_id = p.p_id
            INNER JOIN vi_room_user ru ON ru.ru_room_id = r.r_id
        WHERE ru.ru_user_id = #{id}
    </select>

    <select id="getRoomsByFloorId" resultType="com.vians.admin.model.RoomInfo">
        select
        <include refid="Base_Column_List" />
        from vi_room
        where
        1 = 1
        <if test="id != 0">
            and r_floor_id = #{id}
        </if>
    </select>

    <select id="getRoomCountByFloorId" resultType="int">
        select count(r_id)
        from vi_room
        where r_floor_id = #{id}
    </select>

    <select id="getDataDir" resultType="com.vians.admin.model.DataDir">
        select
        r_id as id,
        r_name as name
        from vi_room
        where
        1 = 1
        <if test="id != 0">
            and r_floor_id = #{id}
        </if>
    </select>

    <select id="getRoomModels" resultType="com.vians.admin.model.RoomModelInfo">
        SELECT
            rm.rm_id AS id,
            rm.rm_name AS modelName
        FROM
            vi_room_model rm
    </select>

    <select id="getRoomByNameInFloor" resultType="com.vians.admin.model.RoomInfo">
        select
        <include refid="Base_Column_List" />
        from vi_room
        where r_name = #{roomName} and r_floor_id = #{floorId}
        limit 1
    </select>

    <select id="getRoomById" resultType="com.vians.admin.model.RoomInfo">
        select
        <include refid="Base_Column_List" />
        from vi_room
        where r_id = #{id}
        limit 1
    </select>

    <insert id="addRoom"
            useGeneratedKeys="true"
            keyProperty="id"
            keyColumn="r_id"
            parameterType="com.vians.admin.model.RoomInfo">
        insert into vi_room(r_name, r_room_nature_id, r_room_model_id, r_floor_id, r_area, r_state, r_create_user_id, r_create_time)
        values (#{roomName}, #{natureId}, #{roomModelId}, #{floorId}, #{area}, #{state}, #{createUserId}, #{createTime})
    </insert>

    <delete id="deleteRoom" parameterType="long">
        delete from vi_room where r_id = #{id}
    </delete>

    <delete id="deleteRoomsByFloorId" parameterType="long">
        delete from vi_room where r_floor_id = #{floorId}
    </delete>

    <delete id="deleteRoomUserByRoomId" parameterType="long">
        delete from vi_room_user where ru_room_id = #{roomId}
    </delete>

    <update id="updateRoomState">
        update vi_room set r_state = #{state} where r_id = #{id}
    </update>

    <update id="editRoom" parameterType="com.vians.admin.model.RoomInfo">
        update vi_room
        <set>
            <if test="roomName != null and roomName != ''">
                r_name = #{roomName},
            </if>
            <if test="natureId != 0">
                r_room_nature_id = #{natureId},
            </if>
            <if test="roomModelId != 0">
                r_room_model_id = #{roomModelId},
            </if>
            <if test="floorId != 0">
                r_floor_id = #{floorId},
            </if>
            <if test="area != null and area != ''">
                r_area = #{area},
            </if>
            <if test="state != null and state != ''">
                r_state = #{state},
            </if>
            <if test="updateTime != null">
                r_update_time = #{updateTime},
            </if>
        </set>
        <where>
            r_id = #{id}
        </where>
    </update>

    <select id="getRoomCount" resultType="int">
        select count(r.r_id)
        from vi_room r
         left join vi_floor f on r.r_floor_id = f.f_id
         left join vi_unit unit on f.f_unit_id = unit.u_id
         left join vi_building b on unit.u_building_id = b.b_id
         left join vi_community c on b.b_community_id = c.c_id
        where c.c_project_id = #{projectId} and r.r_state = #{state}
    </select>
</mapper>
